.ui.medium.image {
    max-width: 300px !important;
    height: 300px !important;
    object-fit: cover !important;
}

.img__doctor {
    max-width: 150px !important;
    height: 150px !important;
    object-fit: cover !important;
}