.form_content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px !important;
}

.title_form {
    text-align: center !important;
    padding: 20px !important;
}

.btn_container {
    display: flex;
    justify-content: center;
}

.items_group {
    width: 500px !important;
    margin-top: 20px !important;
}

// .btn {
//     // padding: 15px !important;
//     // font-size: 1.5rem !important;
//     // width: 200px !important;
// }